<div class="my-component">
    This Blazor component is defined in the <strong>RazorClassLibrary1</strong> package.
    <button @onclick="ClickMe">Click me inside RCL</button>
</div>

@code {
    private void ClickMe()
    {
        var a = "Hello";
        Console.WriteLine(a);
    }
}